// ---------------------------------------------------------------------------
// Imports

@import susy
@import compass

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns: 12
$column-width: 2em
$gutter-width: 1em
$grid-padding: $gutter-width

//$show-grid-backgrounds: true



//+font-face("Futura LT Bold", font-files("FuturaLT-Bold.woff", woff, "FuturaLT-Bold.otf", opentype), "FuturaLT-Bold.eot")
//+font-face("Futura LT Light", font-files("FuturaLT-Light.woff", woff, "FuturaLT-Light.otf", opentype), "FuturaLT-Light.eot")
//
//
//+font-face("HelvetiicaNeueLT Std Thin", font-files("HelveticaNeueLTStd-Th.woff", woff, "HelveticaNeueLTStd-Th.otf", opentype), "HelveticaNeueLTStd-Th.eot")
//+font-face("HelveticaNeueLT Std Bold", font-fHelvetiles("HelveticaNeueLTStd-Bd.woff", woff, "HelveticaNeueLTStd-Bd.otf", opentype), "HelveticaNeueLTStd-Bd.eot")
//+font-face("HelveticaNeueLT Std Light", font-files("HelveticaNeueLTStd-Lt.woff", woff, "HelveticaNeueLTStd-Lt.otf", opentype), "HelveticaNeueLTStd-Lt.eot")


// COLORS

$blue:				#77C8E1
$green:				#A0CF73
$red:				#F69D9F
$secondary-light:	#F3EEE9
$secondary-dark:	#A99A89
$secondary-darkest:	#473F3B
$base:		$secondary-darkest

// SEMANTIC COLOR DEFS

$background:	$secondary-light
$primary:		$blue
$secondary:		$secondary-dark


$default-text-shadow-color: black
$default-text-shadow-blur: 3px
$default-text-shadow-v-offset: 1px

=arrow($width: 20px, $height: 20px, $direction: up, $color: red, $icon: false)
  @if $icon == out
    &:before
      content: '|||'
  @if $icon == in
    &:before
      content: '|||'
  
  width: 0 
  height: 0
  
  // Right
  @if $direction == right
    border-top: $height/2 solid transparent
    border-bottom: $height/2 solid transparent
    border-left: $width solid $color

  // Left
  @if $direction == left
    border-top: $height/2 solid transparent
    border-bottom: $height/2 solid transparent
    border-right: $width solid $color

  // Up
  @if $direction == up
    border-left: $width/2 solid transparent
    border-right: $width/2 solid transparent
    border-bottom: $height solid $color

  // Down
  @if $direction == down
    border-left: $width/2 solid transparent
    border-right: $width/2 solid transparent
    border-top: $height solid $color
