// ---------------------------------------------------------------------------
// Imports

@import base
body
  font-family: "HelvetiicaNeueLT Std Thin", sans-serif
  font-size: 1.5em
  color: $base
  background-color: $yellow
  margin: 0px
.container
  +container
  //+susy-grid-background

.app
  position: absolute             /* position in the center of the screen */
  left: 0
  top: 0
  width: 364px
