/* line 5, ../sass/screen.sass */
body {
  font-family: "HelvetiicaNeueLT Std Thin", sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: #eec23d;
  margin: 0px;
  padding: 0px;
}
/* line 12, ../sass/screen.sass */
body p {
  margin-top: 0;
}

/* line 14, ../sass/screen.sass */
.container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../sass/screen.sass */
.app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 26, ../sass/screen.sass */
#triggerArea {
  position: relative;
  margin-top: 2em;
  left: -1em;
  background-color: #eec23d;
  height: 4em;
  width: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 38, ../sass/screen.sass */
#triggerArea icon {
  line-height: 2em;
}

/* line 41, ../sass/screen.sass */
#titleBar {
  background-color: white;
  position: relative;
  height: 0.9em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 47, ../sass/screen.sass */
#hiddenContent {
  position: absolute;
  bottom: 60%;
  right: 10%;
  font-weight: bolder;
  text-shadow: 0px 1px 3px black;
}

/* line 54, ../sass/screen.sass */
#yes {
  width: 100%;
  background-color: white;
}

/* line 58, ../sass/screen.sass */
#container {
  width: 100%;
}
/* line 60, ../sass/screen.sass */
#container .animating {
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

/* line 65, ../sass/screen.sass */
#menuBar {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  padding: 1em;
  height: 100%;
  width: 100%;
}

/* line 78, ../sass/screen.sass */
#portfolioContent {
  width: 100%;
  text-align: center;
  overflow-y: auto;
}

/* line 84, ../sass/screen.sass */
.portfolioElement {
  display: inline;
  float: left;
  text-align: center;
  width: 18%;
  display: inline-block;
}
/* line 89, ../sass/screen.sass */
.portfolioElement:after {
  overflow: hidden;
  *zoom: 1;
}
/* line 92, ../sass/screen.sass */
.portfolioElement p {
  font-size: 14px;
}
/* line 94, ../sass/screen.sass */
.portfolioElement img {
  max-width: 200px;
  height: auto;
}
