/* line 5, ../sass/screen.sass */
body {
  font-family: "Futura", "HelvetiicaNeueLT Std Thin", sans-serif;
  font-size: 1.5em;
  color: #473f3b;
  background-color: #f3eee9;
  margin: 0px;
  padding: 0px;
}
/* line 12, ../sass/screen.sass */
body p {
  margin-top: 0;
}
/* line 14, ../sass/screen.sass */
body h1 {
  color: #77c8e1;
}
/* line 16, ../sass/screen.sass */
body h2 {
  color: #a99a89;
  font-weight: bolder;
  font-size: 0.7em;
  text-transform: uppercase;
}
/* line 21, ../sass/screen.sass */
body h3 {
  color: #473f3b;
  font-size: 0.5em;
  text-transform: uppercase;
}

/* line 25, ../sass/screen.sass */
#container {
  *zoom: 1;
  max-width: 35em;
  _width: 35em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, ../sass/screen.sass */
.app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 37, ../sass/screen.sass */
#triggerArea {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.8em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 43, ../sass/screen.sass */
#triggerArea icon {
  color: #77c8e1;
  display: inline-block;
}
/* line 46, ../sass/screen.sass */
#triggerArea p {
  color: #a99a89;
  display: inline-block;
  font-weight: lighter;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
}
/* line 53, ../sass/screen.sass */
#triggerArea span {
  color: #77c8e1;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: lighter;
}
/* line 60, ../sass/screen.sass */
#triggerArea icon {
  line-height: 2em;
}
/* line 62, ../sass/screen.sass */
#triggerArea.drawerOpen {
  background-color: #f69d9f;
}
/* line 64, ../sass/screen.sass */
#triggerArea.drawerClosed {
  background-color: #a0cf73;
}

/* line 67, ../sass/screen.sass */
#titleBar {
  background-color: #a99a89;
  position: relative;
  height: 0.9em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 73, ../sass/screen.sass */
#hiddenContent {
  position: absolute;
  bottom: 60%;
  right: 10%;
  font-weight: bolder;
  text-shadow: 0px 1px 3px black;
}

/* line 80, ../sass/screen.sass */
#yes {
  width: 100%;
  background-color: white;
}

/* line 84, ../sass/screen.sass */
#container {
  width: 100%;
}
/* line 86, ../sass/screen.sass */
#container .animating {
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

/* line 91, ../sass/screen.sass */
#menuBar {
  position: absolute;
  border-top: 2px solid #a99a89;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #f3eee9;
  color: black;
  height: 100%;
  width: 100%;
}

/* line 104, ../sass/screen.sass */
#detailsContainer {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 106, ../sass/screen.sass */
#detailsContainer #contact {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  text-align: right;
  margin-top: 1em;
}
/* line 110, ../sass/screen.sass */
#detailsContainer #contact a {
  text-decoration: none;
  display: block;
  line-height: 1.3em;
  font-weight: lighter;
  font-size: 0.8em;
}
/* line 118, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+1) {
  color: #77c8e1;
}
/* line 120, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+1):hover {
  color: #2ca2c6;
}
/* line 118, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+2) {
  color: #a0cf73;
}
/* line 120, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+2):hover {
  color: #6da438;
}
/* line 118, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+3) {
  color: #f69d9f;
}
/* line 120, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+3):hover {
  color: #ed4043;
}
/* line 118, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+4) {
  color: #a99a89;
}
/* line 120, ../sass/screen.sass */
#detailsContainer #contact a:nth-child(4n+4):hover {
  color: #766756;
}
/* line 122, ../sass/screen.sass */
#detailsContainer #photo {
  width: 5.71429%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 124, ../sass/screen.sass */
#detailsContainer #photo img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  margin-top: 0.8em;
}
/* line 129, ../sass/screen.sass */
#detailsContainer #title {
  width: 65.71429%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: left;
}
/* line 132, ../sass/screen.sass */
#detailsContainer #title h1 {
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 137, ../sass/screen.sass */
#detailsContainer #title h1 span {
  font-weight: lighter;
}
/* line 139, ../sass/screen.sass */
#detailsContainer #title h2 {
  font-size: 0.6em;
  font-weight: lighter;
}
/* line 142, ../sass/screen.sass */
#detailsContainer #title p {
  color: #473f3b;
  font-weight: lighter;
  font-size: 0.5em;
  line-height: 0.6em;
  text-transform: lowercase;
}

/* line 148, ../sass/screen.sass */
#portfolioContent {
  *zoom: 1;
  max-width: 35em;
  _width: 35em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-y: auto;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#portfolioContent:after {
  content: "";
  display: table;
  clear: both;
}
/* line 152, ../sass/screen.sass */
#portfolioContent img {
  max-width: 100%;
  height: auto;
}
/* line 155, ../sass/screen.sass */
#portfolioContent .category {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 157, ../sass/screen.sass */
#portfolioContent .category h2 {
  margin-bottom: 1em;
}

/* line 160, ../sass/screen.sass */
div.portfolioElement {
  width: 14.28571%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  text-align: center;
}
/* line 163, ../sass/screen.sass */
div.portfolioElement:nth-child(7) {
  width: 14.28571%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 168, ../sass/screen.sass */
div.portfolioElement:after {
  overflow: hidden;
  *zoom: 1;
}
/* line 171, ../sass/screen.sass */
div.portfolioElement p {
  font-size: 14px;
}
/* line 173, ../sass/screen.sass */
div.portfolioElement img {
  max-width: 200px;
  height: auto;
}

/* line 176, ../sass/screen.sass */
.drawer {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 1em;
  position: relative;
  background-color: #a99a89;
  width: 100%;
  color: white;
  text-align: left;
  padding-left: 10%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 186, ../sass/screen.sass */
.drawer .drawerPhoto {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
  padding-left: 3em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
}
/* line 192, ../sass/screen.sass */
.drawer .drawerPhoto img {
  width: 100%;
}
/* line 194, ../sass/screen.sass */
.drawer .drawerContent {
  width: 65.71429%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 196, ../sass/screen.sass */
.drawer .arrow {
  width: 0;
  height: 0;
  border-left: 17.5px solid transparent;
  border-right: 17.5px solid transparent;
  border-bottom: 20px solid #a99a89;
  position: absolute;
  top: -0.75em;
  left: 18.7%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

/* line 204, ../sass/screen.sass */
.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}

/* line 209, ../sass/screen.sass */
.animate-hide.ng-hide-add, .animate-hide.ng-hide-remove {
  display: block !important;
}

/* line 212, ../sass/screen.sass */
.animate-hide.ng-hide {
  opacity: 0;
  height: 0px;
}
