<div id="container" ng-controller="MainCtrl">
    <div id="detailsContainer">
        <div id="contact">
            <a href="">email</a>
            <a href="">twitter</a>
            <a href="">tumblr</a>
            <a href="">linkedIn</a>
        </div>
        <div id="photo">
            <img src="images/clay.png"></img>
        </div>
        <div id="title">
            <h1>Clayton <span>Meador</span></h1>
            <h2>design / artistic direction / UI & UX</h2>
            
            <p>I am an agile designer with strong front-end development skills. I love working with startups. Let's talk!</p>

            <p>Proficient in Adobe photoshop, illustrator, after effects, indesign. Capable front end developer with strong skills in Sass, Compass, semantic HTML, CSS3, JS, JQuery and SEO.</p>
        </div>
    </div>
    
    
    
    <div id="menuBar" pull-down the-container="'menuBar'" the-trigger="'triggerArea'">
        <div id="triggerArea">
            <span>CLAYTON MEADOR</span>
            <icon class="fa fa-play fa-rotate-90"></icon>
            <p>PULL DOWN FOR DETAILS</p>
            <icon class="fa fa-play fa-rotate-90"></icon>
            <span>PROJECT PORTFOLIO</span>

        </div>
        <div id="portfolioContent">
            <div class="category">
                <h2>Interface Design {{interface.length}}</h2>
                <div ng-repeat="interfaceExample in interfaceExamples" class="portfolioElement">
                    <img ng-src="{{ interfaceExample.image }}" />
                    <h3>{{ interfaceExample.name }}</h3>
                    <p>{{ interfaceExample.description }}</p>
                </div>
            </div>

            <div class="category">
                <h2>Identity Design</h2>
                <div ng-repeat="identityExample in identityExamples" class="portfolioElement">
                    <img ng-src="{{ identityExample.image }}" />
                    <h3>{{ identityExample.name }}</h3>
                    <p>{{ identityExample.description }}</p>
                </div>
            </div>

            <div class="category">
                <h2>Music Design {{music.length}}</h2>
                <div ng-repeat="musicExample in musicExamples" class="portfolioElement">
                    <img ng-src="{{ musicExample.image }}" />
                    <h3>{{ musicExample.name }}</h3>
                    <p>{{ musicExample.description }}</p>
                </div>
            </div>

        </div>
    </div>


</div>